$border-r: 1rem;

$accent: rgb(125, 193, 248);
$dominant: rgb(245, 241, 241);
$contrast: rgb(27, 27, 27);

$dominant-transparent: transparentize($dominant, 0.3);
$light-grey: rgb(160, 156, 156);

html {
    --accent-color: #{$accent};
    --base-bg: #{$dominant};
    --base-color: #{$contrast};
    --base-grey: #{$light-grey};
    --sidebar-bg: #{$dominant};
    --icon-color: #{$contrast};
    --sidebar-link-hover: #{$accent};
    --sidebar-link-selected-bg: #{$dominant};
    --sidebar-link-selected: #{$accent};

    --loader-color: #{$accent};

    --valid-color: rgb(233, 255, 110);
    --invalid-color: rgb(255, 144, 110);

    --logo-color: #{$contrast};
    --logo-subTitle: rgb(194, 194, 194);
    --logo-bubble: #{$accent};

    --form-link: grey;
    --field-border: rgb(212, 211, 211);
    --field-color: black;
    --field-readonly-color: black;
    --field-bg: rgb(255, 255, 255);
    --field-readonly-bg: rgb(226, 226, 226);
    --field-label: rgb(121, 120, 120);

    --btn-color: black;
    --btn-bg: #{$accent};
    --btn-color-hover: white;
    --btn-color-disable: black;
    --btn-bg-disable: rgb(235, 233, 233);

    --table-odd-row: #e4e0e073;
    --table-border-color: #b8b7b773;
    --table-bg: white;
    --table-header-row: #{transparentize($accent, 0.7)};
    --paginator-color: inherit;
    --paginator-bg: transparent;
    --paginator-selected-color: inherit;
    --paginator-selected-bg: white;
    --scrollbar: rgb(236, 236, 236);

    --error-bg: rgb(247, 131, 131);
    --warning-bg: rgb(224, 192, 105);
    --info-bg: rgb(163, 205, 255);
    --success-bg: rgb(199, 224, 159);
    --default-bg: rgb(233, 223, 223);
    --disabled-bg: rgb(158, 157, 157);
    --action-color: white;

    --bar-bg: #{transparentize($accent, 0.7)};
    --bar-color: black;
    --tab-bg: #{transparentize($accent, 0.7)};
    --tab-selected-bg: #{transparentize($accent, 0.3)};

    --radio-color: rgb(212, 211, 211);
}
