@import '_variables';
@import 'gg-icons';

*,
*:after,
*:before {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: auto;
}
html {
    font-size: 10pt;
    height: -webkit-fill-available;
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.table-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    flex-basis: 6rem;
    color: var(--icon-color);
    background: var(--base-bg);
    cursor: pointer;

    i {
        transform: scale(1.3);
    }
}
